.card-content-md
{
    padding: 0px !important;
}
.large
{
    font-size: 20px;
}
.sm
{
    font-size: 12px;
}
.fab-vertical-bottom // override this property for fab to appear properly in Android device.
{
    bottom: 70px !important;
}