ion-tab-button 
{
    background:#0066cc;
}
ion-segment
{
    background:#0066cc;
    ion-icon ,  ion-label
    {
        color: lighten($color: #0066cc, $amount: 20%);
        text-transform: uppercase;
    }
}

.segment-button-checked
{
    background:#0066cc;
    ion-icon ,  ion-label
    {
        color:white;
    }
}


