<ion-header>
  <ion-toolbar>
    <!-- Scrollable Segment -->
    <ion-segment scrollable>
      <ion-segment-button>
        <ion-label>Matters</ion-label>
        <ion-icon name="folder"></ion-icon>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Names</ion-label>
        <ion-icon name="contacts"></ion-icon>
      </ion-segment-button>
      <ion-segment-button checked color-disabled (click)="showtimerpage()">
        <ion-label>Time</ion-label>
        <ion-icon name="alarm"></ion-icon>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Activities</ion-label>
        <ion-icon name="star"></ion-icon>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Notes</ion-label>
        <ion-icon name="ios-list-box"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <!-- Scrollable Segment -->
  </ion-toolbar>
</ion-header>
<ion-content>
    
</ion-content>