.ion-page    
{
    font-family: Arial, Helvetica, sans-serif;
}

.left-align
{
    text-align: left;
}

.right-align
{
    text-align: right;
}

.right-border
{
    border-right: 1px solid black;
}

.middle-align
{
    vertical-align: middle;
}
